body.vet
{
background:Thistle;
}
body.ini
{
background:Lightcyan;
}
header.head1
{
background:Cadetblue;
}
header.head2
{
background:Purple;
}
h1.set
{
font-style:normal;
font-size: 45px;
}
h1.dress
{
font-size: 40px;
color: White;
text-shadow: 5px 2px 4px Black;
letter-spacing: 10px;
}
h2.weding
{
font-family: Fantasy;
font-size: 30px;
color: Indigo;
text-decoration: Underline;
}
h2.page
{
font-family: "Times New Roman", Times, serif;
font-style: Italic;
}
p.art
{
font-style: Oblique;
}
p.fit
{
font-family: Blippo;
background: Purple;
color: White;
}
#lbl1
{
font-size: 20px;
}
#tt
{
font-style: Oblique;
}
#go
{
font-family:"Times New Roman", Times, serif;
font-style: Normal;
font-size: 18px;
background: Lavender;
color: Black;
}