body.vet
{
background:Thistle;
}
body.ini
{
background:Lightcyan;
}

header.head2
{
background:Purple;
}

h1.dress
{
font-size: 40px;
color: White;
text-shadow: 5px 2px 4px Black;
letter-spacing: 10px;
}



}
p.art
{
font-style: Oblique;
}
p.fit
{
font-family: Blippo;
background: Purple;
color: White;
}
#lbl1
{
font-size: 20px;
}
#tt
{
font-style: Oblique;
}

#fondo
{
padding: 10px;
border-style: Groove;
border-width: 5px;
}
